{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#events" data-toggle="tab">Events</a></li>
            <li><a href="#comments" data-toggle="tab">Comments</a></li>
            <li><a href="#users" data-toggle="tab">Users</a></li>
        </ul>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane fade in active adminTable" id="events">
        {% if events %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Type</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                </thead>
                {% for event in events %}
                <tr>
                    <td><a class="eventTitle" href="{{ path('event', { 'id': event.num }) }}">{{ event.name }}</a></td>
                    <td>{{ event.desc | truncate(60) }}</td>
                    <td>{{ event.type }}</td>
                    <td>
                        <a href="{{ path('admin_event_edit', { 'id': event.num }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#eventDialog{{ event.num }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="eventDialog{{ event.num }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to delete this event ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <a href="{{ path('admin_event_delete', { 'id': event.num }) }}" class="btn btn-danger">Confirm</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">No events found.</div>
        {% endif %}
        <a href="{{ path('admin_event_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add event</button></a>
    </div>




    <div class="tab-pane fade adminTable" id="comments">
      {% if comments %}
      <div class="table-responsive">
          <table class="table table-hover table-condensed">
              <thead>
                  <tr>
                      <th>Event</th>
                      <th>User</th>
                      <th>Content</th>
                      <th></th>  <!-- Actions column -->
                  </tr>
              </thead>
              {% for comment in comments %}
              <tr>
                  <td><a class="eventTitle" href="{{ path('event', { 'id': comment.event.num }) }}">{{ comment.event.name }}</a></td>
                  <td>{{ comment.user.login }}</td>
                  <td>{{ comment.text | truncate(60) }}</td>
                  <td>
                      <a href="{{ path('admin_comment_edit', { 'id': comment.num }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                      <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#commentDialog{{ comment.num }}"><span class="glyphicon glyphicon-remove"></span>
                      </button>
                      <div class="modal fade" id="commentDialog{{ comment.num }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                  </div>
                                  <div class="modal-body">
                                      Do you really want to delete this comment ?
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                      <a href="{{ path('admin_comment_delete', { 'id': comment.num }) }}" class="btn btn-danger">Confirm</a>
                                  </div>
                              </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                      </div><!-- /.modal -->
                  </td>
              </tr>
              {% endfor %}
          </table>
      </div>
      {% else %}
      <div class="alert alert-warning">No comments found.</div>
      {% endif %}
    </div>




    <div class="tab-pane fade adminTable" id="users">
      {% if users %}
          <div class="table-responsive">
              <table class="table table-hover table-condensed">
                  <thead>
                      <tr>
                          <th>Login</th>
                          <th>Role</th>
                          <th></th>  <!-- Actions column -->
                      </tr>
                  </thead>
                  {% for user in users %}
                  <tr>
                      <td>{{ user.login }}</a></td>
                      <td>
                          {% if user.role == 'ROLE_ADMIN' %}
                              Admin
                          {% else %}
                              User
                          {% endif %}
                      </td>
                      <td>
                          <a href="{{ path('admin_user_edit', { 'id': user.num }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                          <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#userDialog{{ user.num }}"><span class="glyphicon glyphicon-remove"></span>
                          </button>
                          <div class="modal fade" id="userDialog{{ user.num }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                      </div>
                                      <div class="modal-body">
                                          Do you really want to delete this user ?
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                          <a href="{{ path('admin_user_delete', { 'id': user.num }) }}" class="btn btn-danger">Confirm</a>
                                      </div>
                                  </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                          </div><!-- /.modal -->
                      </td>
                  </tr>
                  {% endfor %}
              </table>
          </div>
          {% else %}
          <div class="alert alert-warning">No users found.</div>
          {% endif %}
          <a href="{{ path('admin_user_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add user</button></a>
    </div>
</div>
{% endblock %}
