{% extends "layout.html.twig" %}

{% block title %}{{ event.name }}{% endblock %}


{% block content %}
<p>


    <!-- Details of the event -->
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3 col-sm-7">
                <img class="img-responsive img-rounded" id="imgAlbum" src="../images/rihanna.jpg" title="" width="250" height="250"/>
            </div>
            <div class="col-md-9 col-sm-5">
                <h2>{{ event.name }}</h2>
                <p><small>{{ event.desc }}</small></p>
            </div>
        </div>

    </div>
    <!-- /Details of the event -->

    <!-- Ticket command form -->
    <h3>Have a ticket for this event</h3>
    {% if ticketForm %}
    {{ form_start(ticketForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        <div class="col-sm-4">
            {{ form_errors(ticketForm.num_place) }}
            {{ form_widget(ticketForm.num_place, { 'attr':  {
                'row': '4',
                'class': 'form-control',
                'placeholder': 'Enter a place number for your ticket...'
            }}) }}
        </div>
        <div class="col-sm-3">
            <input type="submit" class="btn btn-primary" value="Command a ticket" />
        </div>
    </div>
        {{ form_end(ticketForm) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% else %}
        <a href="{{ path('login') }} ">Log in</a> to buy a ticket.
    {% endif %}
    <!-- /Ticket command form -->


    <!-- COmments for this event -->
    <h3>Comments</h3>
    {% for comment in comments %}
        <strong>{{ comment.user.login }}</strong> said : {{ comment.text }}<br>
    {% else %}
        No comments yet.
    {% endfor %}
<!-- /COmments for this event -->

    <!-- Form to add a comment -->
    <h3>Add a comment</h3>
    {% if commentForm %}
        {{ form_start(commentForm) }}
            <div class="form-group">
                {{ form_errors(commentForm.text) }}
                {{ form_widget(commentForm.text, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Enter your comment'
                }}) }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Publish comment" />
            </div>
        {{ form_end(commentForm) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% else %}
        <a href="{{ path('login') }} ">Log in</a> to add comments.
    {% endif %}
    <!-- /Form to add a comment -->
</p>
{% endblock %}
