{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- List of every events -->
{% for event in events %}
<article>
    <div class="jumbotron indexJumb">
      <div class="container containerIndex">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <img class="img-responsive img-rounded" class="coverImgIndex center-block" src="{{ app.request.basepath }}/images/{{ event.coverImageLink }}"/>
            </div>
            <div class="col-md-8 col-sm-6">
                <h2><a class="eventTitle" href="{{ path('event', { 'id': event.num }) }}">{{ event.name }}</a></h2>
                <p class="eventDesc">{{ event.desc }}</p>
            </div>
        </div>
      </div>
    </div>
</article>
{% endfor %}
<!-- /List of every events -->
{% endblock %}
