{% extends "layout.html.twig" %}

{% block title %}Panier{% endblock %}

{% block content %}
<h2>Panier</h2>
<div class="tab-pane fade in active adminTable" id="tickets">
        {% if tickets %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Ticket number</th>
                        <th>Event name</th>
                        <th>Place number</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                </thead>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.num }}</td>
                    <td>{{ ticket.event }}</td>
                    <td>{{ ticket.numPlace }}</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#ticketDialog{{ ticket.num }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="ticketDialog{{ ticket.num }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to delete this ticket ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <a href="{{ path('ticket_delete', { 'id': ticket.num }) }}" class="btn btn-danger">Confirm</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">No tickets found.</div>
        {% endif %}
    </div>
{% endblock %}
